body {
  background-color: black;
  color: white;
  font-family: Arial;
  text-align: center;
}

h1 {
  background-color: #444;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 0.5em;
  background-color: #222;
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  #menu {
    display: none;
  }

  h1 {
    background-color: white;
  }

  h2 {
    background-color: white;
  }
}